{% extends 'base.html.twig' %}

{% block title %}Passwors update user{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet"
          href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.0/css/bootstrap-datepicker.css">
{% endblock %}

{% block body %}
    <section class="mb-5 pb-5">
        <div class="card col-lg-6 mx-auto">
            <h5 class="card-header text-center" style="background-color: #f7cb0c;">Modifier password</h5>
            <div class="card-body">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            {{ form_start(form) }}
                            <div class="btn-sm mx-auto mb-5 mt-4">
                                <ul>
                                    <li class="list-group-item">{{ form_row(form.currentPassword) }}</li>
                                    <li class="list-group-item">{{ form_row(form.plainPassword) }}</li>
                                </ul>
                                <div class="btn-sm mx-auto d-flex flex-row-reverse mb-5 mt-4">
                                    <a href="#" class="btn btn-warning">
                                        <button type="submit" class="btn">Modifier mot de passe</button>
                                    </a>
                                </div>
                            </div>
                            {{ form_end(form) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
