{% extends 'base.html.twig' %}

{% block title %}Vos restaurants - Copains de Resto{% endblock %}


{% block body %}

    <div class="container">
        {% if restaurants|length > 1 %}
            <h1 class="display-6 mx-3">
                Vos restaurants
            </h1>
        {% else %}
            <h1 class="display-6 mx-3">
                Votre restaurant
            </h1>
        {% endif %}
        <hr>
        <div class="row align-items-center d-flex justify-content-center">
            {% for restaurant in restaurants %}
                <div class="card my-md-5 my-3 mx-3 p-0" style="width: 18rem; height: 25rem;">
                    {% if restaurant.mainPicture is not null %}
                        <img src="{{ asset('uploads/main-pictures/'~restaurant.mainPicture) }}" class="img-fluid"
                             alt="{{ restaurant.name }} picture" style="height: 10rem; width: auto;">
                    {% else %}
                        <img src="{{ asset('images/img2.jpg') }}" class="card-img-top"
                             alt="photo {{ restaurant.name }}" style="height: 10rem; width: auto;">
                    {% endif %}

                    <div class="card-body">
                        <h5 class="card-title">{{ restaurant.name }}</h5>
                        <p class="card-text mb-0"> {{ restaurant.address }}</p>
                        <p class="card-text"> {{ restaurant.zipCode }} {{ restaurant.city }}</p>
                    </div>
                    <div class="card-footer d-flex justify-content-center">
                        <a href="{{ path('app_restaurant_show', {'id': restaurant.id}) }}"
                           class="btn btn-primary"><i class="bi bi-eye"></i></a>
                        <a href="{{ path('app_restaurant_update', {'id': restaurant.id}) }}"
                           class="btn btn-warning mx-2"><i class="bi bi-pen"></i></a>
                        <button class="btn btn-danger"
                                data-bs-toggle="modal" data-bs-target="#confirmation-suppression"
                                alt="Supprimer le restaurant"
                                title="Supprimer le restaurant"><i class="bi bi-trash3"></i></button>
                        <div class="modal fade" id="confirmation-suppression" tabindex="-1"
                             aria-labelledby="confirmation-suppression" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-body">
                                        Êtes-vous sûr de vouloir supprimer le restaurant ? <br>
                                        Tous les évènements liés à ce restaurant seront supprimés.
                                    </div>
                                    <div class="modal-footer">
                                        <a href="{{ path('app_restaurant_delete', {'id': restaurant.id}) }}"
                                           type="button" class="btn btn-danger">Supprimer le restaurant</a>
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                            Fermer</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
            <div class="card my-5 mx-2 text-center" style="width: 18rem; height: 25rem">
                <div class="card-body">
                    <h5 class="card-title">Ajouter un restaurant</h5>
                    <a href="{{ path('app_restaurant_new') }}" class="bi bi-plus-circle-fill"
                       style="font-size: 10rem; color:var(--primaryColor)"></a>
                </div>
            </div>
        </div>
    </div>


{% endblock %}
